html, body {
  background: #F1FFFA;
  font-family: serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Containers Settings */

.container {
  box-sizing: border-box;
  display: block;
}

/*.section {
  box-sizing: border-box;
  display: block;
}*/

.full-width {
  width: 1366px;
}


.container::after,
.col-threequarter::after,
.col-fifth::after,
.col-threefifths::after,
.col-quarter::after,
.col-third::after,
.section::after {
  content: "";
  display: table;
  clear: both;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}



/* Text Alignment */

.t-center {
  text-align: center;
}

.t-right {
  text-align: right;
}

.t-left {
  text-align: left;
}



/* Font Sizes */

.tiny {
  font-size: 10px !important;
}

.small {
  font-size: 12px !important;
}

.medium {
  font-size: 15px !important;
}

.large {
  font-size: 18px !important;
}

.xlarge {
  font-size: 24px !important;
}

.xxlarge {
  font-size: 36px !important;
}

.xxxlarge {
  font-size: 48px !important;
}

.jumbo {
  font-size: 64px !important;
}

/* Relative Displays */

.display-container {
  position: relative;
}

.display-topleft {
  position: absolute;
  left: 0;
  top: 0;
}
.display-topright {
  position: absolute;
  right: 0;
  top: 0;
}

.display-bottomleft {
  position: absolute;
  left: 0;
  bottom: 0;
}
.display-bottomright {
  position: absolute;
  right: 0;
  bottom: 0;
}

.display-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.display-left {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%,-50%);
  -ms-transform: translate(-0%,-50%);
}

.display-right {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(0%,-50%);
  -ms-transform: translate(0%,-50%);
}

.display-topmiddle {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%,0%);
  -ms-transform: translate(-50%,0%);
}

.display-bottommiddle {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%,0%);
  -ms-transform: translate(-50%,0%);
}

/* Font Settings*/

p {
  padding: 0;
  margin: 0;
}
