@import "~admin-lte/plugins/fontawesome-free/css/all.css";
@import "~admin-lte/plugins/overlayScrollbars/css/OverlayScrollbars.css";
@import "~bootstrap-fileinput/css/fileinput.css";
@import "~admin-lte/build/scss/adminlte.scss";

.frame-titlebar {
    -webkit-app-region: drag;
}

.frame-titlebar * {
  -webkit-app-region: no-drag;
}

.content-wrapper {
  height: 0 !important;
  padding-bottom: 0 !important;
}
